.makeStyles-root-4 {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #ffffff;
  z-index: 5;
  height: 65px;
}

.makeStyles-root-4 .MuiTextField-root {
  margin: 16px;
}

.input-box {
  margin: auto;
  display: flex;
  align-items: center;
}

.container {
  padding-bottom: 100px;
  padding-top: 20px;
  background-color: rgba(84, 136, 214, 0.2);
}

@media (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 10px;
    margin: auto;
    padding-bottom: 100px;
  }
}

@media (min-width: 1300px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 10px;
  }
}
