/* .MuiCard-root {
  position: relative;
  z-index: 0;
} */

/* .MuiCard-root:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform .5s;
  cursor: pointer;
} */

/* .MuiCardContent-root {
  position: absolute;
} */

@media (min-width: 1000px) {
  .MuiCard-root {
    cursor: pointer;
  }

  /* .MuiCardContent-root {
    overflow: hidden;
    width: 300px;
    height: 20px;
  } */

  .MuiTypography-colorTextPrimary {
    padding: 5px 10px;
    overflow: hidden;
    width: 300px;
    height: 20px;
  }

  .MuiCard-root:hover .MuiCardContent-root .MuiTypography-colorTextPrimary {
    height: auto;
    position: absolute;
    z-index: 1;
  }
}
